.transacciones {
    background-color: #c3d66d;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .transacciones p {
    margin: 5px 0;
    color: black;
    text-align: left;
  }
  
  .transacciones img {
    max-width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 100%;
    
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
