* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f4c381;
    gap: 100px;
    color:red;
}

.navbar img {
    height: 60px;
    width: 60px;
}

.navbarSearch {
    display: flex;
    height: 45px;
    justify-content: space-between;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.navbarSearch input {
    padding: 10px;
    border: none;
    border-radius: 15px;
}